@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
/* Este comentario es para aplicar el recurso para comentar y aclarar que las parametrizaciones de estilos están, en principio, según el orden de aparición. Los contenidos y la apariencia son provisorios. */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    background-color: rgb(137, 155, 159);
}
header {
    background-color: rgb(13, 13, 13);
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    outline: none;
    text-decoration: none;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}
main {
    text-align: center;
    background-color: rgb(143, 157, 160);
    padding: 40px;;
    margin: 10px 30px 10px 30px;
    border: 2px solid black 
}
#mesa {
    border: 10px double black;
    border-radius: 10%;
}
h1{
    text-align: center;
    background-color: rgb(143, 157, 160);
    padding: 20px;;
    margin: 10px 30px 10px 30px;
    border: 2px solid black;
}
#linkfacpce{
    text-decoration: underline;
    color: black;
}
#music{
    padding: 1px;
    margin-left: 358px;
    margin-right: 360px;
    text-decoration: wavy;
    border: 1px dashed black;
}
h2{
    text-align: left;
    font-style: italic;
    padding: 10px;;
    margin: 40px 20px 10px 1px;
    color: black;
}
footer{
    text-align: center;
    padding: 25px;
    background-color: rgb(13, 13, 13) ;
}
section{
    margin-top: 30px;
}
article{
    text-align: center;
    background-color: rgb(137, 155, 159);
    padding: 40px;;
    margin: 10px 20px 10px 20px;
}
p{
    padding: 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: black;
    margin-top: 1px;
    margin-right: 40px;
    margin-left: 40px;
    border: solid black 1px;
    border-color: black;
    background-color: rgb(242, 242, 242);
}
#esp {
    font-stretch: condensed;
    text-decoration: wavy;
    font-style: italic;
}
.pcv{
    position: relative;
    bottom: 0%;
    margin-top: 200px;
}
#Adam{
    margin-top: 10px;
    margin-left: 550px;
    border: 10px double black;
    border-radius: 10%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.miembros{
    color: darkslategrey;
    text-align: center;
}
section#mail{
    color: brown;
    border: none;
}
.infomiembroD, .infomiembroJ, .infomiembroJf, .infomiembroF{
    text-align: left;
    background-color: beige;
    border: none;
}
.servicios{
    text-align: left;
}
/* Animaciones, transformaciones y transiciones */
#Diego:hover {
    transform: scale(2)
}
#JuanS:hover {
    transform: scale(2);
}
#Jf:hover {
    transform: scale(2);
}
#Fd:hover {
    transform: scale(2);
}
#Diego, #JuanS, #Jf, #Fd {
    transition-property: all;
    transition-duration: 3s;
}
.servicios:hover {
height: 100px;
background-color: white;
color: black;
}
.servicios {
    transition-property: all;
    transition-duration: 3s;
}

/* Grids para HTML "Nosotros" */
#JuanS {
    width: 50px;
}
#Jf {
    width: 50px
}
#Fd {
    width: 50px;
}
#Diego {
    width: 50px;
}
.gridsNosotros{
    display: grid;
    grid-template-columns: 100%;
}
.miembroJ {
    grid-area: miembroJ;
}
#JuanS {
grid-area: JuanS;
}
.infomiembroJ {
grid-area: imj;
}
.miembroJf {
    grid-area: miembroJf;
}
#Jf {
    grid-area: Jf;
}
.infomiembroJf {
    grid-area: imjf;
}
.miembroF {
    grid-area: miembroF;
}
#Fd {
    grid-area: Fd;
}
.infomiembroF {
    grid-area: imF;
}
.miembroD {
    grid-area: miembroD;
}
#Diego {
    grid-area: Diego;
}
.infomiembroD {
    grid-area: infoD;
}
.miembros1 {
display: grid;
width: 100%;
height: 100%;
grid-template-areas: 
"JuanS miembroJ "
"imj imj";
}
.miembros2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "Jf miembroJf"
    "imjf imjf";
}
.miembros3 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "Fd miembroF"
    "imF imF";
}
.miembros4 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "Diego miembroD"
    "infoD infoD";
}
/* Parámetros Grids de "Servicios" (y parte de "Nosotros", con .gridContainer)*/
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer{
    grid-area: footer ;}
.gridContainer {
    display: grid;
    width: 100%;
    height: 100vh;
grid-template-areas:
"header header"
"main main"
"footer footer";
gap: 10px;
}
.grillaServicios {
    display: grid;
    grid-template-columns: 100%;
}
#imgtrib {
    width: 250px;
}
#imgaud {
    width: 250px;
}
#imgsoc {
    width: 250px;
    height: 159px;
}
#imgpdi {
    width: 250px;
    height: 159px;
}
/* Quiebres */
@media (min-width: 500px) {
    h1 {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,99,54,1) 20%, rgba(0,212,255,1) 100%);
    }
    h2 {
        color: white;
    }
    .grillaServicios {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .gridsNosotros {
        display: grid;
        grid-template-areas: 
        "miembros1 miembros2"
        "miembros3 miembros4";
        grid-template-columns: 50% 50%;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    footer {
        margin-top: 0px;
    }
}
@media (min-width: 768px) {
    h1 {
        background: white}
}
h2 {
    color: white;
}
@media(min-width: 1024px){
    h1 {
    background: none
    }
    h2 {
        color: black;
    }
}
