/* Estilo */
.contmain {
    margin-bottom: 50 px;
}
.forms {
    margin-bottom: 50px;
}
.contactos {
    margin-top: 100px;
    margin: auto;
    text-justify: auto;
}
.gridscontacto {
    margin: auto;
}