@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
/* Estilo general */
@import "variableGlobal";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(137, 155, 159);
    background-image: random($limit: 1);
    box-sizing: border-box;
}
main {
    text-align: center;
    background-color: $color;
    padding: 40px;;
    margin: 10px 30px 10px 30px;
    border: 2px solid black
}
p {
    padding: 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: black;
    margin-top: 1px;
    margin-right: 40px;
    margin-left: 40px;
    border: solid black 1px;
    border-color: black;
    background-color: rgb(242, 242, 242);
} 
h1{
    text-align: center;
    background-color: $color;
    padding: 20px;;
    margin: 10px 30px 10px 30px;
    border: 2px solid black;
}
h2{
    text-align: left;
    font-style: italic;
    padding: 10px;;
    margin: 40px 20px 10px 1px;
    color: black;
}
footer{
    text-align: center;
    padding: 25px;
    height: 5 px;
    background-color: $color;
}
section{
    margin-top: 30px;
}
article{
    text-align: center;
    background-color: rgb(137, 155, 159);
    padding: 40px;;
    margin: 10px 20px 10px 20px;
}
/* Footer */
.pcv{
    position: relative;
    bottom: 0%;
    margin-bottom: 0px;
}

/* Quiebres */
@media (min-width: 500px) {
    h1 {
        background: $color;
    }
    h2 {
        color: white;
    }
    .grillaServicios {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .gridsNosotros {
        display: grid;
        grid-template-areas: 
        "miembros1 miembros2"
        "miembros3 miembros4";
        grid-template-columns: 50% 50%;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    footer {
        margin-top: 0px;
    }
}
@media (min-width: 768px) {
    h1 {
        background: white}
}
h2 {
    color: white;
}
@media(min-width: 1024px){
    h1 {
    background: none
    }
    h2 {
        color: black;
    }
}
